/*fonts*/

/*MAIN*/
body {
  padding:0;
  margin:0;
  background-color:white;
  font-family: 'Open Sans' ;
	font-weight:100;

}

#page-wrap {
  padding: 0;
  width:1200px;
  margin:0 auto;
  background-color:#ee2e;
  box-shadow: 10px 10px 10px #222021;
}

.parent{
	width:1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item {
  width: 100%;
}

.item:nth-child(1) {
  height:368px;

}

.item:nth-child(2) {
  height:225px;
  background-color: darkgreen;
}

.item:nth-child(3) {
  height:225px;
  background: white;
}

.item:nth-child(4) {
  height:225px;
  background: darkgreen;
}

.item:nth-child(5) {
  height:225px;
  background: white;
}

.item:nth-child(6) {
  height:225px;
  background-image: url("assets/about-us.png");
  background-color: black;

}

.item:nth-child(7) {
  height:1600px;
  background: #eeeeee;
}


.insideparent {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  height:100%;
}
.insideitem {
  color:white;
  background-color:#222021;
  -webkit-box-flex:1;
  -ms-flex-positive:1;
margin:0;
padding:0;
}

.box_wrap525{
	width:525px;
	font-size:200%;
	height:225px;
	background-color:#eeeeee;
	color:black;
}
.box_wrap675{
	width:675px;
	font-size:200%;
	height:225px;
	background-color:#eeeeee;
	color:black;
}
.box_wrap750{
	width:750px;
	font-size:200%;
	height:225px;
	background-color:#222021;
	color:white;
}
.box_wrap450{
	width:450px;
	font-size:200%;
	height:225px;
	background-color:#eeeeee;
	color:black;
}

.box_wrap2{
	width:720px;
	font-size:200%;
	height:225px;
	background-color:#eeeeee;
	color:black;
	padding:0px;
	margin:0px;
}



.top{
	background-image: url("assets/1200_368.png");
	 background-size: 100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: bottom;

}
.up_grad {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+32,000000+69&0.65+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.44) 60%, rgba(0,0,0,0.2) 80%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.44) 60%,rgba(0,0,0,0.2) 80%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.44) 60%,rgba(0,0,0,0.2) 80%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  height: 20%

}


/*Horizontal  Styles*/

/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

nav {

}

ul,li {
	margin:0;
	padding:0;
	list-style:none;
  float:left;

}



li {
	display:block;
  line-height:2em;
  padding: 0 1em;
}
a{
  font-family:'Open Sans' ;
	font-weight:100;
  text-decoration:none;
  color:white;
}
/*ul{
	padding-left:4%;
	padding-top:1%;
}*/

.up_grad img{

	float:left;
	padding-left:37%;
}
/*Images Styles*/
.insideitem img {
	float:left;
}

.social {
 padding-top:1.2em;
 text-align: center;
}

.checkus {
  color:white;
  text-align:center;
  padding-top:7em;
  margin:0;
}

#pagewrap460 {
  background-color:#eeeeee;
  height:100%;
  width:500px;
  margin: 0 auto;
}

.Prices {
  padding-top:90px;
  font-size:3em;
  font-family: "Open Sans";
  text-align:center;
  line-height: 0.667;
  padding-bottom: 40px;


}

.prices_text {

  font-family: "Open Sans";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: center;

}

div p {
  text-align: center;
vertical-align: middle;
line-height:5em;
}
