
/*global styles*/
/*a:focus{
	outline: thin dotted;
}
a:hover, a:active{
	outline:0;
}
a {
  color: #49a3b2;
  font-weight: bold;
  text-decoration:none;
}*/

/*
#sidebar a, #page-footer a{
  color: white;
}*/


body {
  padding:0;
  margin:0;
  background-color:coral;
    font-family: 'Open Sans' ;
	font-weight:100;

}

#page-wrap {
  padding: 0;
  width:1200px;
  margin:0 auto;
  background-color:#ee2e;
}

.parent{
	width:1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item {
  width: 100%;
}

.item:nth-child(1) {
  height:555px;

}

.item:nth-child(2) {
  height:225px;
  background-color: darkgreen;
}

.item:nth-child(3) {
  height:225px;
  background: white;
}

.item:nth-child(4) {
  height:225px;
  background: darkgreen;
}

.item:nth-child(5) {
  height:225px;
  background: white;
}

.item:nth-child(6) {
  height:225px;
  background: black;
}

.item:nth-child(7) {
  height:1852px;
  background: grey;
}


.insideparent {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  height:100%;
}
.insideitem {
  color:black;
  background-color:#eeeeee;
  -webkit-box-flex:1;
  -ms-flex-positive:1;

}
.insideitem:nth-child(2) {
  -webkit-box-flex:3;
  -ms-flex-positive:3;
  background-color: blue;
}
.box_wrap{
	width:525px;
	
	font-size:200%;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}


/* Navigation */

.top{

  /*background-image:url("assets/salon-picture.gif")*/
	/*background-image: url("assets/salon-picture.gif");*/
		background-image: url("assets/salon-picture2.gif");
	 background-size: 100%;
  height:100%;

  background-repeat: no-repeat;
  background-position: bottom;

}
.up_grad {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+32,000000+69&0.65+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.44) 60%, rgba(0,0,0,0.2) 80%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.44) 60%,rgba(0,0,0,0.2) 80%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.44) 60%,rgba(0,0,0,0.2) 80%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  height: 20%

}


/*Horizontal nav Styles*/

ul,li {
	marging:0;
	padding:0;
	list-style:none;
	float:left;
}
li a{
	display:block;
	width:50px;
	height:50px;

	padding-right:19%;
	font-family:'Open Sans' ;
	font-weight:100;
	color:white;
	text-decoration:none;

}
ul{
	padding-left:4%;
	padding-top:1%;
}

.up_grad img{

	float:left;
	padding-left:37%;
}
/*Images Styles*/
.insideitem img {
	float:left;
	padding
}
